*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
.tox
nosetests.xml
junit*.xml

# Translations
*.mo

# Editors/IDEs
.mr.developer.cfg
.project
.pydevproject
.idea

.ropeproject
.cache
venv
.venv
env
docs/_build

# Temporary cache files
*.swo
